body {
  position: relative;
  /* PUSH FOOTER TO THE BOTTOM */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-color);
}

:root {
  --main-color: #1e2a78;
  --secondary-color: #ffd615;
  --thirdinary-color: #ff1f5a;
  --fortinary-color: #f9ff21;
  --text-color: #303548;
  --bg-color: #f2f1ff;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

p {
  font-size: 16px;
  margin: 0 0 1em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 0.5rem;
  line-height: 1.2;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.unselectable {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.visually-hidden {
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.main-container {
  max-width: 1280px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 0 40px;
}

.main-title {
  font-family: 'Roboto Condensed';
  color: var(--main-color);
  font-size: 32px;
}

.input, .textarea {
  border-radius: 6px;
  width: 100%;
  border: 1px solid #ced4da;
  padding: 8px 12px;
  outline: none;
}

.input::placeholder, .textarea::placeholder {
  color: #9f9f9f;
}

.input:focus, .textarea:focus {
  border-color: var(--main-color);
}

.form-group {
  display: flex;
  gap: 16px;
}

/* ------------ Animations ------------ */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

/* ------------ /end Animations ------------ */


/* ------------ Main Banner ------------ */
.main-banner__image {
  display: flex;
}
.main-banner__txt-container {
  background: white;
  position: relative;
  margin: -140px auto 20px;
  padding: 40px;
  max-width: 690px;
}
.main-banner__txt {
  margin: 0;
}
/* ------------ /end Main Banner ------------ */


/* ------------ Logo ------------ */
.logo {
  display: flex;
}

.logo__image {
  height: 32px;
}

/* ------------ /end Logo ------------ */


/* ------------ Buttons ------------ */
.button {
  display: flex;
  gap: 16px;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  transition: 0.3s;
}

.button--transparent {
  padding: 0;
  border: none;
  background-color: transparent;
}

.button--more {
  font-size: 16px;
  width: max-content;
  font-style: italic;
  color: var(--secondary-color);
}

.button--more i {
  text-decoration: underline;
}

.button--more span {
  transition: 0.3s;
}

.button--more:hover span {
  transform: translateX(8px);
}

.button--main {
  background-color: var(--secondary-color);
  color: var(--main-color);
  width: max-content;
  padding: 14px 36px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto Condensed';
  transition: 0.3s;
  border: none;
}

.button--main:hover {
  background-color: var(--main-color);
  color: var(--secondary-color);
}

/* ------------ /end Buttons ------------ */


/* ------------ Header ------------ */
.header {
  position: sticky;
  top: 0;
  z-index: 5;
  width: 100%;
  background: white;
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 20%);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
}

.header__main {
  display: flex;
}

.header__toggles {
  display: flex;
  gap: 16px;
}

.header__toggles-button {
  gap: 8px;
  font-size: 18px;
  font-weight: bold;
  color: var(--main-color);
}

.header__toggles-search-button span {
  transform: rotate(90deg);
}

/* ------------ /end Header ------------ */


/* ------------ Menu Collapse ------------ */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 0%;
  background-color: #212121;
  overflow-y: hidden;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
}

.menu--visible {
  height: 100%;
  overflow-y: auto;
}

.menu__header {
  background-color: black;
}

.menu__header-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
}

.menu__close-button {
  gap: 8px;
  font-size: 18px;
  font-weight: 500;
  color: var(--secondary-color);
}

.menu__search-form {
  display: flex;
  align-items: center;
  background: #333;
}

.menu__search-input {
  width: 380px;
  background-color: transparent;
  border: none;
  color: #ccc;
  padding: 4px 12px;
  outline: none;
}

.menu__search-submit {
  background-color: transparent;
  color: #ccc;
  padding: 4px 12px;
  border: none;
}

.menu__search-submit span {
  transform: rotate(90deg);
}

.menu__body {
  flex-grow: 1;
  position: relative;
}

/* Tab */
.menu__tab .tab-buttons-container {
  background-color: black;
}

.menu__tab .tab-buttons-container__inner {
  display: flex;
  gap: 28px;
  padding-top: 32px;
  background: black;
  border-bottom: 1px solid #ffffff26;
  padding-bottom: 20px
}

.menu__tab .tab-button {
  padding: 0 0 6px;
  font-size: 20px;
  font-weight: 300;
  color: white;
  background-color: transparent;
  border: 1px solid transparent;
  font-family: 'Roboto Condensed';
}

.menu__tab .tab-button--active {
  color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
}

.menu__tab .tab-content-container__inner {
  padding-top: 40px;
  color: white;
}

.menu__tab .tab-content-item {
  width: 100%;
  flex-wrap: wrap;
  gap: 60px;
}

.menu-tab-content__main {
  width: calc(50% - 30px);
}

.menu__tab-title-link {
  display: flex;
  width: max-content;
}

.menu__tab-title {
  font-size: 24px;
  color: white;
  font-weight: 400;
  margin: 0;
  font-family: 'Roboto Condensed';
}

.menu__tab-desc {
  margin: 20px 0 24px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #ccc;
}

.menu__tab-link {
  display: flex;
  font-weight: 400;
  color: white;
  align-items: center;
  gap: 4px;
  font-size: 18px;
  width: max-content;
  transform: translateX(-6px);
  transition: 0.3s;
}

.menu__tab-link:hover {
  color: var(--secondary-color);
}

.menu-tab-content__top-products {
  width: calc(50% - 30px);
}

.top-products__title {
  font-size: 24px;
  color: #666;
  font-weight: 400;
  margin-bottom: 24px;
  font-family: 'Roboto Condensed';
  font-weight: bold;
}

.top-products__list {
  display: flex;
  gap: 12px;
}

.top-products__image {
  background: #353535;
  border: 1px solid #ffffffc2;
}

.top-products__text {
  margin: 12px 0 0;
  color: white;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: 0.3s;
  transform: translateX(-6px);
}

.top-products__item:hover .top-products__text {
  color: var(--secondary-color);
}

.menu-tab-content__sublinks-container {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 80px;
}

.menu-tab-content__sublink {
  color: white;
  font-size: 18px;
  border-left: 1px solid white;
  padding-left: 8px;
  transition: 0.3s;
}

.menu-tab-content__sublink:hover {
  color: var(--secondary-color);
}

/* Search */
.menu__search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #212121;
  overflow-y: auto;
  display: none;
}

.menu__search--visible {
  display: block;
}

/* ------------ /end Menu Collapse ------------ */

/* ------------ Breadcrumbs ------------ */
.breadcrumbs {
  margin: 0 0 0 40px;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 500;
}

.breadcrumbs:empty {
  display: none;
}

.breadcrumbs li {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-color);
}

.breadcrumbs li::before {
  font-family: 'Material Icons';
  content: '\e037';
  color: var(--main-color);
}

.breadcrumbs li:first-child::before {
  content: none;
}

.breadcrumbs a {
  text-decoration: underline;
  color: var(--text-color);
}
/* ------------ /end Breadcrumbs ------------ */


/* ------------ Main Tag ------------ */
.main {
  /* PUSH FOOTER TO THE BOTTOM */
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* ------------ /end Main Tag ------------ */


/* ------------ Footer ------------ */
.footer {
  background-color: var(--main-color);
}
.footer__inner {
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: flex-start;
  justify-content: space-between;
}
.footer__block a:hover {
  text-decoration: underline;
}
.footer__links a {
  width: max-content;
}
.footer__title {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}
.footer__title a {
  color: inherit;
}
.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.footer__link {
  color: white;
}
.footer__socials-list {
  display: flex;
  gap: 12px;
  margin: 20px 0 0;
  padding: 0;
  list-style: none;
}
.footer__socials-link {
  color: white;
}
.footer__socials-link svg {
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.footer__socials-link svg:hover {
  color: var(--secondary-color);
}
.footer__copyright {
  background: #141e60;
  color: white;
  text-align: center;
  padding: 28px;
}
/* ------------ /end Footer ------------ */


/* ------------ Collapse ------------ */
.tab-button {
  transition: 0.3s;
}

.tab-content-item {
  display: none;
  animation: fadeEffect 1s;
}

.tab-content-item--active {
  display: flex;
}

/* ------------ /end Collapse ------------ */


/* ------------ Home page ------------ */
/* Banner */
.home-banner {
  position: relative;
}

.home-banner__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-banner__body-inner {
  color: white;
  flex-direction: column;
}

.home-banner__text {
  display: block;
  max-width: 520px;
}

.home-banner__title {
  background: var(--secondary-color);
  color: var(--main-color);
  padding: 5px 14px;
  display: inline-flex;
  transform: skewX(342deg);
  font-weight: bold;
  font-size: 26px;
  font-style: italic;
  margin-right: 4px;
  font-family: 'Roboto Condensed';
}

.home-banner__title h1 {
  margin: 0;
  font-size: inherit;
  transform: skewX(18deg);
}

.home-banner__desc {
  display: inline;
  font-size: 18px;
  line-height: 2;
}

.home-banner__link {
  margin-top: 40px;
  margin-left: auto;
  margin-right: 10px;
}

/* About cards */
.about-cards-section__inner {
  padding-top: 40px;
  padding-bottom: 80px;
  flex-direction: column;
}

.about-cards-title {
  text-align: center;
  margin-bottom: 40px
}


/* Career */
.popular-products {
  background-color: aliceblue;
}

.popular-products__inner {
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 68px;
}

.popular-products__title {
  text-align: center;
  margin-bottom: 40px;
}


/* Contacts */
.contacts-section__inner {
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 72px;
}
.contacts-section__title {
  text-align: center;
  margin-bottom: 40px;
}
.contacts-section__divider {
  display: flex;
  gap: 40px;
}
.feedback-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.feedback-form__button {
  margin: 12px 0 0 auto;
}
.map {
  width: 50%;
}
/* ------------ /end Home page ------------ */


/* ------------ Main Cards list ------------ */
.main-cards-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-card {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.main-card:nth-child(even) {
  flex-direction: row;
}

.main-card__image {
  width: 50%;
  height: 300px;
  object-fit: cover;
  clip-path: polygon(12% 0, 100% 0, 100% 100%, 30% 100%);
}

.main-card:nth-child(even) .main-card__image {
  clip-path: polygon(0 0, 88% 0%, 70% 100%, 0% 100%);
}

.main-card__text-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 120px;
}

.main-card:nth-child(even) .main-card__text-container {
  padding-left: 0;
  padding-right: 120px;
}

.main-card__title {
  font-family: 'Roboto Condensed';
  color: black;
  margin-bottom: 12px;
  font-size: 20px;
}

.main-card__text {
  margin-bottom: 20px;
  overflow: hidden;
}

.main-card__link {
  color: var(--secondary-color);
  font-style: italic;
  font-weight: bold;
  margin-left: auto;
}
/* ------------ /end Main Cards List ------------ */


/* ------------ Product Card ------------ */
.product-card {
  padding-bottom: 72px;
  background-color: white;
  position: relative;
  display: block;
  height: 100%;
  border-radius: 34px;
  overflow: hidden;
  text-decoration: none;
}

.product-card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 34px 0 0 0;
  background-color: var(--secondary-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.product-card:hover .product-card__overlay {
  transform: translateY(0);
}

.product-card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 14px;
  border-radius: 34px 0 0 0;
  background-color: var(--secondary-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.product-card:hover .product-card__header {
  transform: translateY(0);
}

.product-card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.product-card__arc path {
  fill: var(--secondary-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.product-card__prescription {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 14px;
}

.product-card__title {
  margin-bottom: 0;
  font-weight: bold;
  font-family: 'Roboto Condensed';
  color: var(--text-color);
}

.product-card__desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  padding: 0 20px;
  font-size: 15px;
  margin-bottom: 20px;
  color: var(--text-color);
  position: relative;
  margin-top: -4px;
}

/* ------------ /end Product Card ------------ */


/* ------------ Carousels ------------ */
.carousel-container {
  position: relative;
}

.owl-carousel .owl-nav button.owl-prev {
  left: -16px;
}

.owl-carousel .owl-nav button.owl-next {
  right: -16px;
}

.owl-carousel .owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  box-shadow: 0 3px 6px #0000003d;
  border-radius: 50%;
  background-color: #fff !important;
  transition: 0.3s;
}

.owl-carousel .owl-nav button span {
  margin: 8px;
  font-size: 18px;
}

.owl-carousel .owl-nav button:hover {
  background-color: var(--main-color) !important;
  color: white;
}

/* ------------ /end carousel-container ------------ */


/* ------------ About pages ------------ */
/* Index page */
.about-index-page__inner {
  padding-top: 60px;
  padding-bottom: 72px;
  flex-direction: column;
}
.about-index-page__title {
  margin-bottom: 40px;
  text-align: center;
}

/* History page */
.history-page__inner {
  flex-direction: column;
}
.history-page__divider-inner {
  position: relative;
}
.history-page__divider-image {
  width: 100%;
  height: 420px;
  object-fit: cover;
}
.history-page__divider-txt {
  background: white;
  max-width: 564px;
  position: absolute;
  bottom: 20px;
  left: 60px;
  padding: 40px 44px;
}
.history-page__txt-inner {
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 60px;
}

/* Wealth */
.wealth-page__banner .main-banner__txt-container {
  max-width: 720px;
}
.wealth__cards-inner {
  padding-bottom: 32px;
}
.wealth__cards-list {
  display: flex;
  gap: 32px;
}
.wealth-card {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.wealth-card__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  background-color: var(--main-color);
  bottom: 0;
  transform: translateY(100%);
  transition: 0.3s;
}
.wealth-card:hover .wealth-card__overlay {
  transform: translateY(0);
  padding: 32px 0;
  background-color: #1e2a78db;
}
.wealth-card__title {
  padding: 14px 32px;
  transform: translateY(-100%);
  transition: 0.3s;
  background-color: var(--secondary-color);
  font-size: 18px;
  font-weight: bold;
  color: var(--main-color);
  font-family: 'Roboto Condensed';
  margin-bottom: 0;
}
.wealth-card:hover .wealth-card__title {
  transform: translateY(0);
  background: transparent;
  color: var(--secondary-color);
}
.wealth-card__txt {
  margin: 0;
  padding: 0 32px;
}

.wealth-page__txt-inner {
  flex-direction: column;
  padding-bottom: 40px;
}

.principles {
  background-color: aliceblue;
}

.principles__inner {
  padding-top: 60px;
  padding-bottom: 80px;
  flex-direction: column;
}

.princilpes__title {
  text-align: center;
  margin-bottom: 40px;
}

.principles-accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Career */
.career-page__txt {
  padding-bottom: 80px;
  flex-direction: column;
}
.career-page__title {
  margin-bottom: 40px;
  text-align: center;
}
/* ------------ /end About pages ------------ */


/* ------------ Accordion ------------ */
.accordion__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid rgba(0,0,0,.125);
  border-collapse: collapse;
  padding: 16px 40px;
  background-color: white;
  font-weight: bold;
  font-family: 'Roboto Condensed';
  font-size: 18px;
}
.accordion__item--active .accordion__button {
  background: var(--secondary-color);
  color: var(--main-color);
}
.accordion__button-icon {
  transition: 0.3s;
  pointer-events: none;
}
.accordion__item--active .accordion__button-icon {
  transform: rotate(180deg);
}
.accordion__collapse {
  height: 0px;
  background: white;
  -moz-transition: height .3s;
  -ms-transition: height .3s;
  -o-transition: height .3s;
  -webkit-transition: height .3s;
  transition: height .3s;
  overflow: hidden;
}
.accordion__item--active .accordion__collapse {
  height: 100%;
}
.accordion__collapse-body {
  border: 1px solid rgba(0,0,0,.125);
  padding: 20px 40px;
  font-weight: 300;
}

.accordion__button-icon {
  color: var(--main-color);
}

.accordion__item--active .accordion__button span {
  transform: rotate(180deg);
}
/* ------------ /end Accordion ------------ */


/* ------------ Products Page ------------ */
/* Index page */
.products-page__categories-inner {
  padding-bottom: 80px;
}
.products-page__categories-list {
  display: flex;
  gap: 32px;
}
.products-page__category {
  position: relative;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 10%);
  overflow: hidden;
  padding-bottom: 48px;
}
.products-page__category-image {
  display: flex;
  transition: 0.3s;
}
.products-page__category:hover .products-page__category-image {
  transform: scale(1.1);
}
.products-page__category-title::before {
  position: absolute;
  width: 0%;
  height: 5px;
  background-color: var(--main-color);
  content: '';
  transition: 0.3s;
  top: -5px;
  left: 0;
}
.products-page__category:hover .products-page__category-title::before {
  width: 100%;
}

.products-page__category-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 14px 32px;
  background-color: var(--secondary-color);
  font-size: 18px;
  font-weight: bold;
  color: var(--main-color);
  font-family: 'Roboto Condensed';
  margin-bottom: 0;
}
/* ------------ /end Products Page ------------ */
